.new{
    display: flex;
    width: 100%;

    .newContainer{
        flex: 6;

        .top, .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0, 0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            padding: 10px;
            margin: 10px;
            display: flex;
            .title{
                color: gray;
                font-size: 18px;
                font-weight: 600;
            }

            .left{
                flex: 1;
                text-align: center;
                .profileImg{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right{
                flex: 2;


                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;

                    .formInput{
                        width: 40%;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                        }

                        .icon{
                            cursor: pointer;
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid gray;
                        }

                      
                    }
                    button{
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }

        }
    }
}